* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.description {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui-level {
  font-size: 4rem;
  padding-top: 2rem;
}
.ui-message {
  font-size: 2rem;
}

.level-two {
  display: none;
}
.next-button {
  padding: 1rem 3rem;
  background: rgb(24, 114, 174);
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
.spooky-picture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
